* {
  text-decoration: none;
  list-style: none;
}
ul {
  display: flex;
}
ul li {
  margin: 5px;
}

button {
  cursor: pointer;
}

a {
  color: cadetblue;
}

.header {
  background-color: black;
  color: white;
}

.header .header__nav .nav__navbar {
  display: flex;
  justify-content: space-between;
}

.header .header__nav .nav__navbar .navbar__logo a {
  padding: 5px;
}

.header .header__nav .nav__navbar .navbar__user {
  display: flex;
}

.product__card {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.product__card h4 {
  margin: 10px 0;
}

.product__card p {
  color: gray;
  margin: 10px 0;
}

.forms {
  display: flex;
}
.form__image {
  content: " ";
  height: 100vh;
  width: 60vw;
  background-color: white;
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 40vw;
  background-color: black;
  color: white;
  padding: 0 50px;
}

.access__form {
  display: flex;
  flex-direction: column;
}

.access__form label {
  margin-top: 10px;
}

.access__form .button {
  margin: 10px 0;
}

.checkout__card {
  z-index: 999;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.checkout__card .card__order {
  margin: 0 auto;
  background-color: black;
  color: white;
  height: auto;
  width: auto;
  padding: 30px;
  border-radius: 15px;
}

.checkout__card .card__order h3, .checkout__card .card__order p, .checkout__card .card__order hr {
  margin: 15px;
}
.checkout__card .card__order div {
  display: flex;
  justify-content: space-between;
}
.checkout__card .card__order div button {
  margin: 0 15px;
}

.visibility {
  display: none;
  opacity: 0;
  cursor: none;
  z-index: 0;
}